/* Define a custom variable for header height at the root level */
:root {
    --header-height: 5rem;
}

/* Center and resize the logo in the header */
.side-bar .site-header {
    display: flex;
    min-height: var(--header-height);
    flex-direction: column;
    align-items: center;
}

.side-bar .site-header .site-title {
    height: var(--header-height); /* Use the variable */
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 1.5; */
}

.side-bar .site-header .site-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200% !important; /* Adjust as needed */
    width: auto !important;   /* Maintain aspect ratio */
    justify-content: center;
    align-items: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height); /* Use the variable */
}