/* Center and resize the logo in the header */
.side-bar .site-header {
    display: flex;
    min-height: 5rem;
    flex-direction: column;
    align-items: center;
}

.side-bar .site-header .site-title {
    height: 200%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar .site-header .site-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto !important; /* Adjust as needed */
    width: auto !important;   /* Maintain aspect ratio */
}

  .main-header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
  }